.hero {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: $small-screen) {
    flex-direction: row;
  }

  &__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: $small-screen) {
      flex-direction: row;
      height: 40rem;
    }

    @media screen and (min-width: $large-screen) {
      height: 65rem;
    }

    &--split {
    }

    &--compact {
      height: 80vh;

      @media screen and (min-width: $small-screen) {
        height: 40rem;
        flex-direction: column;
        width: 50%;
      }

      @media screen and (min-width: $large-screen) {
        height: 65rem;
      }
    }

    &--cherry {
      background-image: url('../images/mobile/image-graphic-design.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      @media screen and (min-width: $small-screen) {
        background-image: url('../images/desktop/image-graphic-design.jpg');
      }
    }

    &--orange {
      background-image: url('../images/mobile/image-photography.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      @media screen and (min-width: $small-screen) {
        background-image: url('../images/desktop/image-photography.jpg');
      }
    }

    &--img {
      width: 100vw;
      height: 50vh;

      @media screen and (min-width: $small-screen) {
        width: 50vw;
        height: 100%;
      }
      &--egg {
        background-image: url('../images/mobile/image-transform.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        @media screen and (min-width: $small-screen) {
          background-image: url('../images/desktop/image-transform.jpg');
          order: 1;
        }
      }

      &--cup {
        background-image: url('../images/mobile/image-stand-out.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        @media screen and (min-width: $small-screen) {
          background-image: url('../images/desktop/image-stand-out.jpg');
        }
      }
    }

    &--text {
      text-align: center;
      width: 100vw;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 4rem;

      @media screen and (min-width: $small-screen) {
        padding: 0;
        width: 50vw;
        height: 30rem;
      }

      &--compact {
        margin-top: 30rem;
        font-size: 2.5rem;

        @media screen and (min-width: $small-screen) {
          margin-top: 22rem;
        }
      }
    }

    &--heading {
      font-weight: 900;
      color: $c-n-dark-blue-1;
      font-size: 3.5rem;
      padding-top: 1.5rem;
      padding-bottom: 1rem;

      @media screen and (min-width: $small-screen) {
        font-size: 3rem;
        padding: 0;
      }

      @media screen and (min-width: $large-screen) {
        font-size: 3.75rem;
        margin-top: 6rem;
      }

      &--cherry {
        color: $c-p-dark-cyan-1;
      }

      &--orange {
        color: $c-p-dark-blue;
      }
    }

    &--lead {
      color: $c-n-dark-blue-2;
      line-height: 1.5;
      font-size: 1.5rem;
      padding-bottom: 3rem;
      padding-top: 2rem;

      @media screen and (min-width: $small-screen) {
        font-size: 1.7rem;
        padding: 0 2rem;
      }

      @media screen and (min-width: $large-screen) {
        font-size: 2rem;
        padding: 0 3rem;
      }

      &--cherry {
        color: $c-p-dark-cyan-1;
      }

      &--orange {
        color: $c-p-dark-blue;
      }
    }
  }
}

.btn {
  display: inline-block;
  margin: 0 auto;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 0.3;
  color: $c-n-dark-blue-1;
  font-family: $f-heading;
  font-weight: 900;
  padding: 0 0.8rem;
  transition: all 0.2s;

  @media screen and (min-width: $small-screen) {
    margin-left: 5rem;
  }

  &--yellow {
    border-bottom: 0.8rem solid rgba($c-p-yellow, 0.35);

    &:hover {
      border-bottom: 0.7rem solid rgba($c-p-yellow, 1);
    }
  }

  &--pink {
    border-bottom: 0.8rem solid rgba($c-p-soft-red, 0.35);

    &:hover {
      border-bottom: 0.7rem solid rgba($c-p-soft-red, 1);
    }
  }
}
